* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.container {
    width: 80%;
    height: fit-content;
    margin: auto;
}

#contenttitle {
    height: 100px;
    background-color: pink;
}

section .content {
    float:left;
}

section .central {
    margin-left: 1%;
    margin-right: 1%;
    width: 58%;
}

section .left, section .right {
    width: 20%;
}

header.debug {
    height: 150px;
    background-color: aquamarine;
}

.jumbotron.debug {
    height:400px;
    background-color: yellow;
}

section > div.debug {
    height: 400px;  
}

footer.debug {
    height: 100px;
    background-color: yellowgreen;
}

.left.debug, .right.debug {
    background-color: silver;
}

.central.debug {
    background-color: skyblue;
}


